.input{
    position: absolute;
    margin-bottom: 10px;
    top: 10px;
    height: 20px;
    margin-top: 130px;
    text-align: center;
    margin-left: 950px;
}

.input1{
    position: absolute;
    margin-bottom: 10px;
    top: 10px;
    height: 20px;
    margin-top: 162px;
    text-align: center;
    margin-left: 950px;
}

.input2{
    position: absolute;
    margin-bottom: 10px;
    top: 10px;
    height: 20px;
    margin-top: 193px;
    text-align: center;
    margin-left: 950px;
}

.input3{
    position: absolute;
    margin-bottom: 10px;
    top: 10px;
    height: 20px;
    margin-top: 223px;
    text-align: center;
    margin-left: 950px;
}